<h3>ACERCA DE</h3>
<br>

<div>
    <p>Soy una estudiante de la UNIVERSIDAD TECNOLOGICA DE SAN JUAN DEL RIO <br>
        me gusta mucho ver serie y compartir tiempo con mi familia, ademas me gusta mucho jugar videojuegos
    </p> 
    <img style="height: 200px;" src="https://utec.edu.pe/sites/default/files/styles/blog_full/public/blog/videojuegos-universidad-utec.jpg" alt="">
    <img style="height: 200px;" src="https://www.telemadrid.es/2022/12/16/noticias/cultura/_2515258467_39447096_1300x731.jpg" alt="">
    </div>