<h3>ACERCA DE</h3>
<br>

<div>
    <p>Soy un estudiante de universidad, actualmente estoy cursando octavo cuatrimestre
        me gusta jugar videojugos, actualmete trabajo en McDonald's,
        me gusta pasar tiempo con mis amigo y comprarle cosas a mi familia, me gusta consentir sobre todo a mi hermana menor
    </p> 
    <img style="height: 200px;" src="https://brandemia.org/contenido/subidas/2022/10/marca-mcdonalds-logo.png" alt="">
    <img style="height: 200px;" src="https://www.movilzona.es/app/uploads-movilzona.es/2021/12/Todos-Pokemon-Pokemon-GO.jpg" alt="">
    </div>